 <mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

    <div class="container-fluid page">
      <div class="page__box p-3 mt-2">Trainings  <button class="add" data-bs-toggle="modal" data-bs-target="#AddModal">Add Training</button></div>
      <div class="page__content shadow p-3 position-relative">
        <mat-grid-list cols="3" >
          <mat-grid-tile class="flip-card ml-4" *ngFor="let training of Trainings; let i = index">
            <div class="container mx-auto mt-4">
              <div class="row">
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h6 class="card-title">{{training.name}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Web</h6>
                <h6 class="card-text">{{training.trainerName}}</h6>
                <h6 class="card-text">{{training.date}}</h6>
                <h6 class="card-text">{{training.description}}</h6>
                   <a href="#" class="btn mr-5" routerLink="/edit/{{training._id}}"><i class="fas fa-edit"></i> Edit</a>
                   <a href="#" class="btn mr-5" (click)="delete(training._id, i)"><i class="fas fa-edit"></i> Delete</a>
                   <!-- <ul *ngFor="let training of Trainings;let i = index">
                     <li *ngFor="let course of Courses;let i = index">
                      <span ngIf*="training.trainerName === course.Sname;">
                        {{course.Sname}}
                      </span>
                     </li>
                   </ul> -->
              </div>
            </div>
            </div>
            </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>





</mat-drawer-content>
</mat-drawer-container>
    <!-- ADD Modal -->
    <div class="modal fade" id="AddModal"  aria-labelledby="AddModal" aria-hidden="true">
      <div class="modal-dialog modal-xl">
          <div class="modal-content">
              <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
              <div class="modal-body text-center pb-5">
                  <div class="container">
                              <div class="container">
                                  <!-- Contact Section Heading-->
                                  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">ADD TRAINING</h2>
                                  <!-- Icon Divider-->
                                  <div class="divider-custom">
                                      <div class="divider-custom-line"></div>
                                      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                      <div class="divider-custom-line"></div>
                                  </div>
                                  <!-- Contact Section Form-->
                                  <div class="row justify-content-center">
                                      <div class="col-lg-8 col-xl-7">
                                      <form  [formGroup]="trainingForm" (ngSubmit)="onSubmit()">
                                           <!-- pic-->
                                          <!-- Name input-->
                                          <div class="form-floating mb-3">
                                              <input class="form-control" formControlName="name" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required"   name="nomFormation"/>
                                              <label for="name">Training Name</label>
                                              <div class="invalid-feedback" data-sb-feedback="name:required" >A name is required.</div>
                                          </div>
                                          <!-- Email address input-->
                                          <div class="form-floating mb-3">
                                              <input class="form-control" formControlName="trainerName" type="text" placeholder="name@example.com" data-sb-validations="required,email" name="nomFormateur"/>
                                              <label for="email">Trainer Name</label>
                                              <div class="invalid-feedback" data-sb-feedback="email:required" >Trainer Name is required.</div>
                                          </div>
                                          <!-- Date number input-->
                                          <div class="form-floating mb-3 input-group date" id='datetimepicker1'>
                                              <input class="form-control" type="datetime-local" name="date" formControlName="date"/>
                                              <label for="phone">Date & Time</label>
                                              <div class="invalid-feedback" data-sb-feedback="phone:required" >Date is required.</div>
                                          </div>
                                          <!-- Message input-->
                                          <div class="form-floating mb-3">
                                              <textarea class="form-control" formControlName="description" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" name="description"></textarea>
                                              <label for="message">Description</label>
                                          </div>
                                          <button class="btn btn-primary btn-xl" type="submit"  >ADD</button>
                                      </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
     </div>
    </div>
