<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <mat-grid-list cols="3" >
      <mat-grid-tile>
        <div class="card text-white bg-info mt-5" >
          <div class="card-header">Trainers number</div>
          <div class="card-body">
              <h1 class="text-center">{{Trainers.length}}</h1>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="card text-white bg-success mt-5" >
          <div class="card-header">Trainings number</div>
          <div class="card-body">
              <h1 class="text-center">{{Trainings.length}}</h1>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
</mat-drawer-content>
</mat-drawer-container>
