<mat-nav-list>
  <div class="logo py-4">
    <h1>Admin</h1>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item class="item" routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item class="item" routerLinkActive="list-item-active" routerLink="/trainings">
    <mat-icon>book</mat-icon> Trainings
  </a>
  <a mat-list-item class="item" routerLinkActive="list-item-active" routerLink="/trainers">
    <mat-icon>person</mat-icon> Trainers
  </a>
  <a mat-list-item class="item" routerLinkActive="list-item-active" routerLink="/students">
    <mat-icon>person</mat-icon> Students
  </a>
</mat-nav-list>
