  <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <!-- <mat-drawer mode="side" opened="true"> -->
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
      <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">Students list</div>
        <div class="page__content shadow p-3 position-relative">
            <div class="mat-elevation-z8">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td>majidkouki</td>
                    <td>majidkouki56@gmail.com</td>
                  </tr>
                  <tr *ngFor="let user of Users; let i = index">
                    <th scope="row">{{user._id}}</th>
                    <td>{{user.name}</td>
                    <td>{{user.email}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  </mat-drawer-content>
  </mat-drawer-container>
